<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{ img1 }}" alt="{{ name }} 'mini'" />
    <div>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ title }}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <div>
    <img mat-card-image src="{{ img0 }}" alt=" {{ name }}" />
  </div>
  <section>
    <mat-card-content>
      <p>Vendor price (m2): {{ vendorprice }}<span></span>€</p>
      <p>Final price (m2): {{ finalprice }}<span></span>€</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab color="warn" aria-label="Eliminar">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-mini-fab color="primary" aria-label="Editar">
        <mat-icon>build</mat-icon>
      </button>
      <button mat-mini-fab color="accent" aria-label="Añadir">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>
  </section>
</mat-card>
