<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="inu"
    />
    <div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </div>
  </mat-card-header>
  <div>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
  </div>
  <section>
    <mat-card-content>
      <p>Vendor price (m2): <span></span>€</p>
      <p>Final price (m2): <span></span>€</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab color="warn" aria-label="Eliminar">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-mini-fab color="primary" aria-label="Editar">
        <mat-icon>build</mat-icon>
      </button>
      <button mat-mini-fab color="accent" aria-label="Añadir">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>
  </section>
</mat-card>
