<body>
  <header></header>
  <main>
    <section>
      <app-card
        *ngFor="let flooring of floorings"
        [name]="flooring.name"
        [title]="title[0]"
        [vendorprice]="flooring.price.toFixed(2)"
        [finalprice]="(flooring.price * 1.5).toFixed(2)"
        [img0]="flooring.img[0]"
        [img1]="flooring.img[1]"
      ></app-card>
    </section>
    <aside></aside>
  </main>

  <div *ngFor="let flooring of floorings">{{ flooring.name }}</div>
  <div *ngFor="let client of clients">{{ client.adress }}</div>
  <br />
  <br />
  <div *ngFor="let vinyl of vinyls">{{ vinyl.name }}</div>
  <br />
  <br />
</body>
