body {
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex: 1;
    overflow-y: auto;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.7)
      ),
      url("/assets/img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
